.photo-grid {
  max-width: 1280px;
  margin: 0 auto;
  padding: 92px 0 0;
  background-color: #2A2C2F;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
    width: calc(100% - (48px*2));
  }  
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    gap: 15px;
    width: calc(100% - (24px*2));
  }  
}

@media screen and (max-width: 767px) {
  .photo-grid {
    width: calc(100% - (16px*2));
    padding-top: 64px;
    gap: 13px;
  }
}