.photo-grid {
  width: 1280px;
  margin: 0 auto;
  padding: 92px 0 0;
  background-color: #2A2C2F;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  gap: 16px;
  justify-content: center;
}