.cover {
  margin: 92px auto 0;
  padding: 0;
  max-width: 1184px;
  min-height: 740px;
  background: url(../../images/cover-trains.jpg) center / cover no-repeat;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }  
}

@media screen and (max-width: 1023px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
    margin-top: 90px;
  }  
}

@media screen and (max-width: 767px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
    margin-top: 66px;
  }  
}